@use '@strategies/tokens/color';


.Modal.StartupModal {

    .Modal--window {
        > header, > footer {
            display: none;
        }

        > main {
            display: flex;
        }
    }

    nav {
        flex: 1 1 25%;
        max-width: 250px;
        background: color.$blue--lightest;
    }

    .content {
        flex: 1 1 auto;
    }
}
