@use '@strategies/tokens/animation';
@use '@strategies/tokens/color';
@use '@strategies/tokens/font';
@use '@strategies/tokens/layout';


.Modal.StartupModal {

    .Modal--window {
        display: flex;
        flex-direction: column;
        flex: 0 1 auto;

        width: 90%;
        max-width: 1000px;
        min-height: 650px;

        border-radius: layout.$border-radius--large * 2;

        header {
            background: none;
        }

        > header, > footer {
            display: none;
        }

        > main {
            display: flex;
            flex: 1;
            flex-direction: column;

            height: 100%;
            padding: 0;
            max-height: unset;

            > div {
                flex: 1;
                display: flex;
                height: 100%;

                > main {
                    padding: 0;
                    max-height: unset;
                }
            }
        }
    }

    nav {
        flex: 0 1 max-content;

        min-width: 250px;
        padding: layout.$padding--large;

        text-align: center;

        background: color.$blue--lightest;

        img {
            height: 20px;
        }

        main {
            text-align: left;
            padding: 0;
        }

        header, footer {
            text-align: center;
            padding: 0;
        }

        header {
            margin-bottom: layout.$padding;
        }

        h3 {
            color: color.$blue;
            font-size: font.$size--xsmall;
            font-weight: font.$weight--medium;
            text-transform: uppercase;
        }

        ol {
            padding-left: 0;
            margin: auto;

            list-style: none;

            li {
                color: color.$grey;
                font-size: font.$size--large;
                font-weight: 400;

                cursor: pointer;
                transition: color animation.$speed;
                display: flex;
                align-items: center;

                + li {
                    margin-top: layout.$padding;
                }

                &.active {
                    color: color.$black;
                }

                span {
                    flex: 1 1 auto;
                }

                svg {
                    flex: 0 1 font.$size--large;
                    margin: auto;
                    margin-right: layout.$padding--small;
                }
            }
        }
    }

    .content {
        flex: 1 1 auto;
        padding: layout.$padding--large;

        header {
            padding: 0 0 layout.$padding;
            border-bottom: 1px solid color.$black;

            h2 {
                font-size: font.$size--xsmall * 2;
                font-weight: font.$weight--medium;
            }
        }

        footer {
            display: flex;
            align-items: center;

            width: 100%;
            padding: 0;

            .Button {
                z-index: 1;
                margin-left: auto;

                &.secondary {
                    margin-left: 0;
                }
            }

            .StartupProgress {
                position: absolute;
                left: 0%;
                right: 0%;
                z-index: 0;

                width: min-content;
                margin: auto;
            }
        }
    }

    nav, .content {
        display: flex;
        flex-direction: column;

        header, footer {
            flex: 0;
        }

        main {
            flex: 1 0 auto;
        }
    }
}
